---
layout: page
title: legoonest's
subtitle: Let's enjoy reading !
sitemap:
  priority: 0.9
---

<ul class="list-posts">
    {% for post in site.posts %}
        {% if post.categories contains "happy" %}
            {% continue %}
        {% endif %}
        <ul class="post-teaser__cate categories">
            [
            {% for category in site.data.categories %}
                {% if post.categories contains category.slug %}
                    <li class="categories__item">{{ category.name }}</li>
                {% endif %}
            {% endfor %}
            ]
        </ul>
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title"> {{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
            
        </li>
    {% endfor %}
</ul>
